.header {
    background-color: rgb(42, 114, 173);
    text-align: center;
    font-weight: bold;
    color: white;
    height: 50px;
    padding: 10px;
    font-size: 2em; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}